{% extends 'base.html' %}

{% block nav_bar_content %}
<div>
    <form class="navbar-form pull-right" method="POST" action="."> {% csrf_token %}
      <input type='text' name='username' placeholder='username'/> 
      <input type='password' name='password' placeholder='password'/>
      <input class='btn btn-success' type='submit' value='Login'/ >
    </form>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1 style="margin-bottom:15px">GoShout!</h1>
  <p>Blah blah.</p>
</div>

{% endblock %}